@model FailTracker.Models.IssueDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div ng-controller="editIssueController" ng-init='init(@Html.Json(Model))'>
    <div ng-cloak ng-hide="editing">
        <h2>Details</h2>
        <h2>
            <small class="pull-right"> Received {{issue.createdAt}} from {{creatorUserName}}</small>
        </h2>
        <h4>Currently assigned to {{issue.assignedToUserName}}</h4>
        <div class="well">
            <p class="lead">
                {{issue.body}}
            </p>
        </div>
        <div class="row">
            <button class="btn btn-primary" ng-click="edit()">Edit</button>
            <button class="btn btn-default" ng-click="index('@Url.Action("Index", "Issue")')">Back to List</button>
            <button class="btn btn-danger pull-right" ng-click="deleteitem('@Url.Action("Index", "Issue")')">Delete</button>
        </div>
    </div>

    <div class="form-horizontal" ng-cloak ng-hide="!editing" ng-form="EditForm">
        <h2>Edit Issue</h2>
        @Html.AngularEditorForModel("issue")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" ng-click="save()">Save Changes</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>