@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Issues List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Action("YourIssuesWidget")
@Html.Action("AssignmentStatsWidget")
@Html.Action("CreatedByYouWidget")
